{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}


{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}


{% block title %}
	{% if choice == 'delete' %}
		Löschen
	{% elif choice == 'edit' %}
		Anpassen
	{% endif %}
{% endblock %}


{% block content %}

<div class="container">
  <div class="row pb-5">
	<div class="col align-self-center">

   <!-- <div class="col-lg-10 mx-lg-auto">-->

      <h2 class="pt-5 pb-2">
		{% if choice == 'delete' %}
	  		Gebote löschen
	  	{% elif choice == 'edit' %}
	  		Gebote anpassen
	  	{% endif %}
	  </h2>
	  <!-- ----- THIS TEMPLATE HAS TWO FORMS ----- -->
	  <!-- but only one will be visible, depending on how the template
  		   was opened -->

	  <!-- ----- start delete offer content ----- -->

	  {% if choice == 'delete' %}
	  	<p class="ml-4"><a href="{{ url_for('analyse') }}">Zurück zu Mopser Analytics</a></p>

	      <p class="lead alert alert-primary">Sicher löschen?</p>

		  <!-- links -->
		  <!--<p class="ml-4">No. <a href="{{ url_for('index') }}">Return to the index.</a></p>-->


		<!-- table showing the selected record -->

		<table class="table">
			<tr>
				<th>Name des Anteils</th>
				<th>Verteilort</th>
				<th>Größe des Anteils</th>
				<th>Gebot grün</th>
				<th>Gebot gelb</th>
				<th>Gebot rot</th>
				<th>Ackertage</th>
				<td>Brot</td>
				<td>Wie viel Brot?</td>
				<th>Name</th>
				<th>Abgestimmt</th>
			</tr>
			<tr>
				<td>{{ offer.anteilname }}</td>
				<td>{{ offer.verteilort }}</td>
				<td>{{ offer.anteilgr }}</td>
				<td>{{ offer.gebotgruen }}</td>
				<td>{{ offer.gebotgelb }}</td>
				<td>{{ offer.gebotrot }}</td>
				<td>{{ offer.gebotackertage }}</td>
				<td>{{ offer.brot }}</td>
				<td>{{ offer.brot_anzahl }}</td>
				<td>{{ offer.name_a }}</td>
				<td>{{ offer.updated }}</td>

			</tr>
		</table>


		<!-- start form for deleting record - not quickform but still WTForms -->
  		<form action="{{ url_for('delete_result') }}" method="POST" id="delete">
			{{ form2.csrf_token }}
			{{ form2.id_field(value=offer.id) }}
			{{ form2.purpose(value='delete') }}
			{{ form2.submit(class="btn btn-info space-below-btn") }}
		</form>
		<!-- end form -->


		<!-- ----- end delete sock content ----- -->
		{% else %}

		<!-- ----- start edit sock content ----- -->

		<p class="ml-4"><a href="{{ url_for('analyse') }}">Zurück zu Mopser Analytics</a></p>

		<p class="lead alert alert-primary">Was willst du ändern?</p>

		<!-- links -->
		<!--<p><a href="{{ url_for('index') }}">Return to the index.</a></p>-->

		<!-- show flash - based on WTForms validators
			 see https://pythonprogramming.net/flash-flask-tutorial/
			 get_flashed_messages() exists here because of flash()
			 in the route function
			 -->
			 {% with errors = get_flashed_messages() %}
				 {% if errors %}
					 {% for err in errors %}
					 <div class="alert alert-primary alert-dismissible" role="alert">
						 <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
						 {{ err }}
					 </div>
					 {% endfor %}
				 {% endif %}
			 {% endwith %}
		<!-- end of flash -->

		<!-- start form for editing record
			 correct use of WTF Bootstrap styles -->
		<form method="post" action="{{ url_for('edit_result') }}" id="update">
			{{ form1.csrf_token }}
			{{ form1.id_field(value=offer.id) }}
			{{ wtf.form_field(form1.anteilname, value=offer.anteilname) }}
			{{ wtf.form_field(form1.verteilort, value=offer.verteilort) }}
			{{ wtf.form_field(form1.anteilgr, value=offer.anteilgr) }}
			{{ wtf.form_field(form1.gebotgruen, value=offer.gebotgruen) }}
			{{ wtf.form_field(form1.gebotgelb, value=offer.gebotgelb) }}
			{{ wtf.form_field(form1.gebotrot, value=offer.gebotrot) }}
			{{ wtf.form_field(form1.gebotackertage, value=offer.gebotackertage) }}
			{{ wtf.form_field(form1.brot, value=offer.brot) }}
			{{ wtf.form_field(form1.brot_anzahl, value=offer.brot_anzahl) }}
			{{ wtf.form_field(form1.brot_kommentar, value=offer.brot_kommentar) }}
			{{ wtf.form_field(form1.name_a, value=offer.name_a) }}
			{{ wtf.form_field(form1.mail_a, value=offer.mail_a) }}
			{{ wtf.form_field(form1.tel_a, value=offer.tel_a) }}
			{{ wtf.form_field(form1.name_b, value=offer.name_b) }}
			{{ wtf.form_field(form1.mail_b, value=offer.mail_b) }}
			{{ wtf.form_field(form1.name_c, value=offer.name_c) }}
			{{ wtf.form_field(form1.mail_c, value=offer.mail_c) }}			
			{{ wtf.form_field(form1.submit, button_map={'info':'success'}) }}
		</form>

		<!--
		
	-->
		{% endif %}

		</div>
	</div>
</div>


{% endblock %}
