{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}


{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}


{% block title %}
	{% if choice == 'delete' %}
		Löschen
	{% elif choice == 'edit' %}
		Anpasse
	{% endif %}
{% endblock %}


{% block content %}

<div class="container">
  <div class="row pb-5">
	<div class="col align-self-center">

   <!-- <div class="col-lg-10 mx-lg-auto">-->

      <h2 class="pt-5 pb-2">
		{% if choice == 'delete' %}
	  		Löschen
	  	{% elif choice == 'edit' %}
	  		Anpassen
	  	{% endif %}
	  </h2>
	  <!-- ----- THIS TEMPLATE HAS TWO FORMS ----- -->
	  <!-- but only one will be visible, depending on how the template
  		   was opened -->

	  <!-- ----- start delete sock content ----- -->

	  {% if choice == 'delete' %}

	      <p class="lead alert alert-primary">Willst du den Bedarf sicher löschen? Dann muss du die App neu initialisieren.</p>

		  <!-- links -->
		  <!--<p class="ml-4">No. <a href="{{ url_for('index') }}">Return to the index.</a></p>-->
		  <p class="ml-4"><a href="{{ url_for('analyse') }}">Zurück zu Mopser Analytics</a></p>


		<!-- table showing the selected record -->

		<table class="table">
			<tr>
				<th>Solawiname</th>
				<th>Saison</th>
				<th>Anteile</th>
				<th>Jahresbudget</th>
				<th>Ackertage</th>
				<th>Abgestimmt</th>
			</tr>
			<tr>
				<td>{{ bedarf.solawiname }}</td>
				<td>{{ bedarf.saison }}</td>
				<td>{{ bedarf.anteile }}</td>
				<td>{{ bedarf.budget }}</td>
				<td>{{ bedarf.ackertage }}</td>
				<td>{{ bedarf.updated }}</td>


			</tr>
		</table>


		<!-- start form for deleting record - not quickform but still WTForms -->
  		<form action="{{ url_for('delete_bedarf') }}" method="POST" id="delete">
			{{ form4.csrf_token }}
			{{ form4.id_field(value=bedarf.id) }}
			{{ form4.purpose(value='delete') }}
			{{ form4.submit(class="btn btn-info space-below-btn") }}
		</form>
		<!-- end form -->


		<!-- ----- end delete sock content ----- -->
		{% else %}

		<!-- ----- start edit sock content ----- -->

		<p class="lead alert alert-primary">Möchtest du den Bedarf für deine aktuelel Saison anpassen?</p>

		<!-- links -->
		<!--<p><a href="{{ url_for('index') }}">Return to the index.</a></p>-->
		<p class="ml-4"><a href="{{ url_for('analyse') }}">Zurück zu Mopser Analytics</a></p>

		<!-- show flash - based on WTForms validators
			 see https://pythonprogramming.net/flash-flask-tutorial/
			 get_flashed_messages() exists here because of flash()
			 in the route function
			 -->
			 {% with errors = get_flashed_messages() %}
				 {% if errors %}
					 {% for err in errors %}
					 <div class="alert alert-primary alert-dismissible" role="alert">
						 <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
						 {{ err }}
					 </div>
					 {% endfor %}
				 {% endif %}
			 {% endwith %}
		<!-- end of flash -->

		<!-- start form for editing record
			 correct use of WTF Bootstrap styles -->
		<form method="post" action="{{ url_for('edit_bedarf') }}" id="update">
			{{ form3.csrf_token }}
			{{ form3.id_field(value=bedarf.id) }}
			{{ wtf.form_field(form3.solawiname, value=bedarf.solawiname) }}
			{{ wtf.form_field(form3.saison, value=bedarf.saison) }}

			{{ wtf.form_field(form3.anteile, value=bedarf.anteile) }}
			{{ wtf.form_field(form3.durchschnitt_gemuese, value=bedarf.durchschnitt_gemuese) }}
			{{ wtf.form_field(form3.durchschnitt_brot, value=bedarf.durchschnitt_brot) }}

			{{ wtf.form_field(form3.budget, value=bedarf.budget) }}
			{{ wtf.form_field(form3.ackertage, value=bedarf.ackertage) }}
			{{ wtf.form_field(form3.submit, button_map={'info':'success'}) }}
		</form>

		<!--
		
	-->
		{% endif %}

		</div>
	</div>
</div>


{% endblock %}
