{% extends 'bootstrap/base.html' %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}

{% block title %}
{{ pagetitle }}
{% endblock %}


{% block content %}

<div class="container">
  <div class="row">
    <div class="col align-self-center">
<!--
    <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">
    -->
      <h1 class="pt-5 pb-2">{{ pageheading }}</h1>

      <p>{{ error }}</p>

      <p><a href="{{ url_for('index') }}">Zurück zum Start</a></p>

    </div>
  </div>
</div>

{% endblock %}
